body {
  font-family: "Soleil", Arial, sans-serif;
}

.locked img {
  filter: brightness(40%);
}

.hide {
  display: none;
}

.locked:hover .hide {
  display: block;
}

.locked:hover .lock-icon {
  display: none;
}

.collapsed {
  grid-template-columns: repeat(3, 1fr);
}

.no-collapsed {
  grid-template-columns: repeat(6, 1fr);
}

.next-row {
  display: none;
}

.add-next-row {
  display: default;
}
